@import "tailwindcss";

body {
  background-color: #09090b;
  color: white;
  margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #09090b;
}
::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 5px;
    border: 2px solid #09090b;
}
::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}
